body {
    font-family: Arial, sans-serif;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    background-color: #ffffff60;
  }
  
  h2 {
    color: #333;
  }
  
  input, button {
    padding: 8px;
    width: 100%;
    margin: 5px 0;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
  }
  